name: Deploy Astrovia App

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Log into Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set Docker image tag
      id: vars
      run: echo "TAG=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV

    - name: Build and push images (With Cache)
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          fendriknj/astrovia-app:latest
          fendriknj/astrovia-app:${{ env.TAG }}
        cache-from: type=registry,ref=fendriknj/astrovia-app:latest
        cache-to: type=inline

